/* ANCHOR FONTS */
@font-face {
  font-family: 'MotivaSans';
  src: url('./resources/fonts/MotivaSansRegular.woff.woff') format('woff'),
       url('./resources/fonts/MotivaSansRegular.woff.ttf') format('truetype');
}

@font-face {
  font-family: 'MotivaSans-Bold';
  src: url('./resources/fonts/MotivaSansBold.woff.woff') format('woff'),
       url('./resources/fonts/MotivaSansBold.woff.ttf') format('truetype');
}


:root {
  --text-color: #E0E0E0;
  --navbar-background-color: #05AD71;
  --navbar-background-hover-color: #00c781;
  --main-background-color: #05AD71;
}

body {
  margin: unset;
  padding: unset;
  border: unset;
  font-family: "MotivaSans";
}

/* ANCHOR OVERFLOW VARIABLES */
.over-hidden {
  overflow: hidden;
}

/* ANCHOR TEXT VARIABLES */
.non-highlightable {
  user-select: none;
}

/* ANCHOR POSITION VARIABLES */
.relative-pos { position: relative; }
.absolute-pos { position: absolute; }

/* ANCHOR FLEX VARIABLES */
.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

/* ANCHOR SIZE VARIABLES */
.vh100 {
  height: 100vh;
}

.vh75 {
  height: 75vh;
}