.split-view {
  flex-grow: 1;

  display: flex;
}

.left-container {
  flex-basis: 25%;
}

.right-container {
  display: flex;
  flex-basis: 75%;

  box-sizing: border-box;
  padding: 2rem;

  background-color: gray;
  overflow: hidden;
}

.right-background {
  background-color: white;
  padding: 1rem;
  flex-grow: 1;
  flex-direction: column;

  border-radius: 1rem;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-field {
  font-size: 14px;
  margin: 0.5rem;

  border-style: solid;
  border-width: 3px;
  border-radius: 4px;

  padding: 8px 0px;
  
  font-size: 18px;
  flex-grow: 1;
}

.course-name {
  font-size: 18px;
  background-color: blue;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;

}

.section {
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

.section > button:nth-child(1) {
  flex-grow: 1;
}

.day-container {
  justify-content: space-between;
  align-items: center;

}

.day-button {
  font-size: 18px;
  background-color: blue;
  padding: 0.5rem;
  width: 6rem;
  
  border-radius: 0.2rem;
  border: none;
  color: white;
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.nav-button {
  font-size: 18px;

  padding: 0.5rem;
  width: 6rem;
  
  border-radius: 0.2rem;
  border: none;

}

.nav {
  background-color: white;
  color: black
}

.save-button {
  background-color: blue;
  color: white;
}