.main-container {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  
  
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-background-color);
  border-radius: 4px;

  padding: 3rem;
  width: 30rem;


  
}

.field {
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 3px;
  border-radius: 4px;
  padding: 10px;
  font-size: 24px;
  width: 80%;
}

.title-white-login {
  display: flex;
  color:white;
  font-size: 50px;
  margin-bottom: 2rem;
  justify-content: center;
  width: 100%;
}

.login-button {
  margin-top: 1rem;
  background-color:white; /* Green */
  border: none;

  border-radius: 2rem;
  color: var(--main-background-color);
  padding: 15px 32px;

  display: inline-block;
  font-size: 16px;
}

.login-button:hover {
  background-color: rgb(207, 207, 207);
  transition: all 1.5 ease-in;
}